.outercard{
        padding: 3rem;
}
.innercard {
        border: 2px solid black;
        padding: 1.25rem;
}
.card{
        display: flex;
        flex-wrap: wrap;
}

#cardbtn{
        padding-bottom: 10px;
}

#cardbtn input{
        height: inherit;
}

.imgcard {
        padding: 1.2rem;
}

.btncart{
        border-radius: 10px;
        padding: 14px 20px 15px;
        border: none;
        background-color: #f4511e;
        opacity: .7;
}
.btncart:hover {
        background-color: #4CAF50;
        opacity: 1;
}

.topnav {

  overflow: hidden;
  background-color: #333;
  color: #f2f2f2;
  padding: 14px 16px;
}
.reload {
        margin-left: auto;
        float: right;
        display: flex;
}

.topnav a {
        border-radius: 14px;
        color: #f2f2f2;
        text-align: center;
        padding: 5px 18px 14px;
        text-decoration: none;
        font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}