label {
        display: flex;
        padding-top: 10px;
        padding-bottom: 2px;
}

input {
        height: 20px;
}
.container {
        border: 6px solid #f1f1f1;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
}
#inner_container1 {
        padding: 20px;
}

#inner_container2 {
        background-color:#f1f1f1;
        padding: 16px;
}
#submit {
        background-color: #f4511e;
        color: white;
        padding: 14px 20px 28px;
        margin: 0;
        border: none;
        width: 100%;
        opacity: .7;
}
#submit:hover {
        background-color: #4CAF50;
        opacity: 1;
}

#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

table {
        border-collapse: collapse;
        width: 100%;
        color: black;
        text-align: left;
}
th {
        background-color: green;
        color: white;
        opacity: 0.6;
}
.topnav {

  overflow: hidden;
  background-color: #333;
  color: #f2f2f2;
  padding: 14px 16px;
}
#reload {
        margin-left: auto;
        float: right;
        display: flex;
}
.topnav a {
        border-radius: 14px;
        color: #f2f2f2;
        text-align: center;
        padding: 5px 18px 14px;
        text-decoration: none;
        font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}